In [2]:
import pandas as pd

c:\Users\Asus\miniconda3\envs\ml\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Colon cancer

In [11]:
df_patient = pd.read_csv('../dataset/colon_cancer/Colorectal Cancer Patient Data.csv', index_col= 0) 
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 62
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_REF           62 non-null     object
 1   Age (in years)   62 non-null     float64
 2   Dukes Stage      62 non-null     object
 3   Gender           62 non-null     object
 4   Location         62 non-null     object
 5   DFS (in months)  62 non-null     float64
 6   DFS event        62 non-null     float64
 7   Adj_Radio        62 non-null     float64
 8   Adj_Chem         62 non-null     float64
dtypes: float64(5), object(4)
memory usage: 4.9+ KB

In [17]:
df_patient.head()

,ID_REF,Age (in years),Dukes Stage,Gender,Location,DFS (in months),DFS event,Adj_Radio,Adj_Chem
0,GSM877126,62.0,A,Male,Left,108.0,0.0,1.0,0.0
1,GSM877127,77.0,B,Male,Left,40.0,1.0,1.0,0.0
2,GSM877128,66.0,C,Female,Left,49.0,0.0,1.0,0.0
3,GSM877129,72.0,D,Female,Left,45.0,0.0,1.0,1.0
4,GSM877130,75.0,C,Male,Left,40.0,0.0,0.0,1.0

In [15]:
df_gene = pd.read_csv('../dataset/colon_cancer/Colorectal Cancer Gene Expression Data.csv', index_col= 0)
df_gene.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1935 entries, 0 to 1934
Data columns (total 63 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID_REF     1935 non-null   object
 1   GSM877126  1935 non-null   float64
 2   GSM877127  1935 non-null   float64
 3   GSM877128  1935 non-null   float64
 4   GSM877129  1935 non-null   float64
 5   GSM877130  1935 non-null   float64
 6   GSM877131  1935 non-null   float64
 7   GSM877132  1935 non-null   float64
 8   GSM877133  1935 non-null   float64
 9   GSM877134  1935 non-null   float64
 10  GSM877135  1935 non-null   float64
 11  GSM877136  1935 non-null   float64
 12  GSM877137  1935 non-null   float64
 13  GSM877138  1935 non-null   float64
 14  GSM877139  1935 non-null   float64
 15  GSM877140  1935 non-null   float64
 16  GSM877141  1935 non-null   float64
 17  GSM877142  1935 non-null   float64
 18  GSM877143  1935 non-null   float64
 19  GSM877144  1935 non-null   float64
 20  GSM877145  1935 non-null   float64
 21  GSM877146  1935 non-null   float64
 22  GSM877147  1935 non-null   float64
 23  GSM877148  1935 non-null   float64
 24  GSM877149  1935 non-null   float64
 25  GSM877150  1935 non-null   float64
 26  GSM877151  1935 non-null   float64
 27  GSM877152  1935 non-null   float64
 28  GSM877153  1935 non-null   float64
 29  GSM877154  1935 non-null   float64
 30  GSM877155  1935 non-null   float64
 31  GSM877156  1935 non-null   float64
 32  GSM877157  1935 non-null   float64
 33  GSM877158  1935 non-null   float64
 34  GSM877159  1935 non-null   float64
 35  GSM877160  1935 non-null   float64
 36  GSM877161  1935 non-null   float64
 37  GSM877162  1935 non-null   float64
 38  GSM877163  1935 non-null   float64
 39  GSM877164  1935 non-null   float64
 40  GSM877165  1935 non-null   float64
 41  GSM877166  1935 non-null   float64
 42  GSM877167  1935 non-null   float64
 43  GSM877168  1935 non-null   float64
 44  GSM877169  1935 non-null   float64
 45  GSM877170  1935 non-null   float64
 46  GSM877171  1935 non-null   float64
 47  GSM877173  1935 non-null   float64
 48  GSM877174  1935 non-null   float64
 49  GSM877175  1935 non-null   float64
 50  GSM877176  1935 non-null   float64
 51  GSM877177  1935 non-null   float64
 52  GSM877178  1935 non-null   float64
 53  GSM877179  1935 non-null   float64
 54  GSM877180  1935 non-null   float64
 55  GSM877181  1935 non-null   float64
 56  GSM877182  1935 non-null   float64
 57  GSM877183  1935 non-null   float64
 58  GSM877184  1935 non-null   float64
 59  GSM877185  1935 non-null   float64
 60  GSM877186  1935 non-null   float64
 61  GSM877187  1935 non-null   float64
 62  GSM877188  1935 non-null   float64
dtypes: float64(62), object(1)
memory usage: 967.5+ KB

In [ ]:
df_gene = df_gene.transpose()
# let's check the result:
df_gene.head()

,0,1,2,3,4,5,6,7,8,9,...,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934
ID_REF,117_at,1007_s_at,1053_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,1431_at,...,1554911_at,1554912_at,1554914_at,1554915_a_at,1554916_a_at,1554918_a_at,1554919_s_at,1554920_at,213418_at,1554921_a_at
GSM877126,6.029834,9.468893,7.18709,6.807582,3.084591,7.397013,6.525426,3.848253,7.572331,3.7482,...,3.504809,2.856109,3.130712,5.603126,3.091348,4.009692,4.3504,2.512026,7.494499,4.030978
GSM877127,6.344321,9.994204,7.705626,6.89313,3.118704,7.163797,6.391195,4.202085,8.295322,3.11434,...,3.957833,2.988643,3.484177,6.601744,3.141737,4.679732,4.50876,2.427697,8.156995,2.82709
GSM877128,5.023127,10.409823,7.934057,7.165602,2.984632,7.375224,5.538846,4.074462,7.055579,4.17227,...,3.749518,2.61084,3.406207,6.003205,3.469987,4.781843,4.435054,2.5313,6.058687,2.930454
GSM877129,4.612727,10.596921,7.446374,7.071417,2.912851,7.596233,5.989148,3.738205,9.683806,3.625413,...,3.610429,2.728274,3.534871,5.858326,3.372291,3.653575,5.014994,2.608755,5.488072,2.949848

In [19]:
df_combined = df_patient.join(other=df_gene, on='ID_REF', how='left')
df_combined

,ID_REF,Age (in years),Dukes Stage,Gender,Location,DFS (in months),DFS event,Adj_Radio,Adj_Chem,0,...,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934
0,GSM877126,62.0,A,Male,Left,108.0,0.0,1.0,0.0,6.029834,...,3.504809,2.856109,3.130712,5.603126,3.091348,4.009692,4.3504,2.512026,7.494499,4.030978
1,GSM877127,77.0,B,Male,Left,40.0,1.0,1.0,0.0,6.344321,...,3.957833,2.988643,3.484177,6.601744,3.141737,4.679732,4.50876,2.427697,8.156995,2.82709
2,GSM877128,66.0,C,Female,Left,49.0,0.0,1.0,0.0,5.023127,...,3.749518,2.61084,3.406207,6.003205,3.469987,4.781843,4.435054,2.5313,6.058687,2.930454
3,GSM877129,72.0,D,Female,Left,45.0,0.0,1.0,1.0,4.612727,...,3.610429,2.728274,3.534871,5.858326,3.372291,3.653575,5.014994,2.608755,5.488072,2.949848
4,GSM877130,75.0,C,Male,Left,40.0,0.0,0.0,1.0,5.865944,...,3.520434,2.664744,3.314746,5.388115,3.322147,4.66636,5.013006,2.65713,7.410725,3.054697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,GSM877185,48.0,D,Male,Right,64.0,0.0,1.0,0.0,5.69401,...,3.733335,3.473473,3.237316,6.167214,3.452096,4.724017,4.470426,2.634358,7.175365,2.667533
59,GSM877186,65.0,C,Male,Left,25.0,1.0,1.0,0.0,8.661629,...,3.436002,2.706722,3.349033,6.238026,3.109042,6.897634,3.797626,2.756086,10.121831,2.971542
60,GSM877187,71.0,A,Male,Rectum,58.0,1.0,1.0,0.0,5.702601,...,3.43826,2.539084,3.33459,5.842051,3.496104,4.883845,4.661893,2.581452,7.23209,2.719928
61,GSM877188,57.0,A,Male,Rectum,68.0,1.0,0.0,0.0,4.500368,...,3.88677,2.79649,3.368317,6.165133,3.27952,4.328188,4.682695,2.529767,5.566607,2.860795
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_combined.to_csv('../dataset/colon_cancer/colon_cancer.csv')